{% extends "base.html" %} {% block content %}

<!-- <div class="card card-signin my-5">
    <div class="card-body"> -->

<h3 class="text-center my-5">Favorites</h3>

<!-- row-->
<div class="row">

    {% if favorites %}

    {%for pcode, p in pcode_list.items %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <p class="card-brand other-brands-name">{{p.brand}}</p>
            <a href="{% url 'detail' pcode=pcode %}">
                <img class="card-img-top" src="/media/img/products/{{pcode}}.png" alt="">
            </a>

            <div class="card-body">
                <p class="card-title">
                    <a href="{% url 'detail' pcode=f.pid.pcode %}">{{f.pid.pname}}</a>
                </p>

                {% for f in favorites %}
                {% if f.pid.pcode == pcode %}
                <p class="disc-price mb-0">{{f.pid.cid.short_cname}} {% load humanize %} \{{f.pid.price|intcomma}}
                    <a href="{% url 'delFavorite' del_fid=f.fid %}"><i class='far fa-trash-alt' style='font-size:18px'></i></a>
                    <a href="{{f.pid.url}}" target="_blank"><i class='far fa-paper-plane'></i></a>

                </p>
                {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}

    <div style="height:400px; text-align:center">

        <p class="text-center">관심상품에 추가한 항목이 없습니다.</p>
    </div>

    {% endif %}

</div>

<a href="{% url 'delFavorite' del_fid='all' %}">DELETE ALL</a>

{% endblock content %}






