{% extends "base.html" %}
{% block content %}


{% if q == None %}
<div class="mt-4">
    <!-- 여기서부터 검색 결과가 없을 때 -->
    <div class="jumbotron">
        <h1 class="display-3">No Data!</h1>
        <p class="lead">검색 결과를 찾을 수 없습니다. 이용에 불편을 드려서 죄송합니다.</p>
        <hr class="my-4">
        <p>상품의 추가를 원하신다면 저희에게 연락주세요!</p>
        <p class="lead">
        </p>
    </div>
</div>


<!-- 여기서부터 검색어 존재하고,  성공했을 때 쿼리 -->
{% else %}
<div class="search-result mt-5" style="text-align: center">
    <h5>"{{query}}"에 대한 검색 결과입니다.</h5>
</div>

<div class="row mt-4">
    {% for s in search %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-200">
            <p class="card-brand other-brands-name">{{s.brand}}</p>
            <a href="{% url 'detail' pcode=s.pcode %}">
                <img class="card-img-top product-img" src="/media/img/products/{{s.pcode}}.png" alt=""
                    onerror="this.src='http://placehold.it/500x300'">
            </a>
            <div class="card-body index-card-body">
                <div class="card-body-container">
                    <p class="card-title">
                        <a href="{% url 'detail' pcode=s.pcode %}">{{s.pname}}</a>
                    </p>

                    <table style="margin-top: 15px">
                        <tr>
                            <td class="td-country">
                                {{ s.cid.short_cname }}

                            </td>
                            <td>
                                {{ s.price }}원
                            </td>
                        </tr>

                    </table>


                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!--페이지 부분. href를 했는데 클릭이 안됨.-->
<!-- <div class="pagination">
    <span class="step-links">
        {% if search.has_previous %}

        <a href="?page={{ search.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ search.number }} of {{ search.paginator.num_pages }}.
        </span>

        {% if search.has_next %}
        <a href="?page={{ search.next_page_number }}">next</a>

        {% endif %}
    </span>
</div> -->

<nav aria-label="Page" class="mx-auto">
    {% if search.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if search.has_previous %}
        <!-- 이전 -->
        <li class="page-item">
            <!-- 처음 페이지 -->
            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <!-- 이전 페이지 -->
            <a class="page-link"
                href="?page={{ search.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                <span aria-hidden="true">&lt;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <!-- 처음 페이지 -->
            <a class="page-link" href="#!">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#!" tabindex="-1">
                <span aria-hidden="true">&lt;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}

        {% for num in page_range %}
        {% if search.number == num %}
        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if search.has_next %}
        <!-- 이후 -->
        <li class="page-item">
            <a class="page-link"
                href="?page={{ search.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                <span aria-hidden="true">&gt;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#!" tabindex="-1">
                <span aria-hidden="true">&gt;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#!" tabindex="-1">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <!-- Pagination endif -->

</nav>

{% endif %}
<!-- 쿼리 존재 endif -->


{% endblock content %}
