/* 전체 적용 */

body {
    padding-top: 56px;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

.brand-name {
    font-family: 'Nanum Pen Script', cursive;
}

.other-brands-name {
    font-family: 'Courgette', cursive;
}

.other-brand-logo {
    height: 25px;
    width: auto;
    max-width: 200px;
}

.container {
    min-height: 100%;
    margin: 0 auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 0px 10px;
}


/* Navbar */

.navbar {
    padding-bottom: 0px;
}

.navbar h2 {
    margin-bottom: 0px;
}


/* 왼쪽 카테고리 or 브랜드 리스트 */

.left-list {
    margin-top: 30px;
}

.left-list a {
    font-size: 18px;
}

#select-cat-brand {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: '#6c757d99';
}

#select-brand {
    color: #6c757d99;
}

#list-brand {
    display: none;
}


/* 상품 표시 */

.origin-price {
    text-decoration: line-through;
    font-size: x-small;
    color: #6c757d99;
}

.disc-price {
    font-size: large;
}


/* Product CARD */

.index-card-body {
    position: relative;
    height: 120px;
    /* padding: 0px; */
}

.card img {
    height: 253px;
    width: 100%;
    text-align: center;
}

.card-brand {
    margin-left: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 18px;
}

.card-body {
    padding: 10px;
}

.card-body-container {
    position: absolute;
    /* bottom: 10px; */
}

.card-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.card-title a {
    color: black;
}