/* 전체 적용 */
body {
    padding-top: 56px;
    font-family: 'Nanum Gothic', sans-serif;

  }

  
.brand-name {
    font-family: 'Nanum Pen Script', cursive;
}

.other-brands-name {
    font-family: 'Courgette', cursive;

}
/* Navbar */

.navbar {
    padding-bottom: 0px;
}

.navbar h2 {
    margin-bottom: 0px;
}

/* 왼쪽 카테고리 or 브랜드 리스트 */
.left-list {
    margin-top: 30px;
}

#select-cat-brand {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: '#6c757d99';
}

#select-brand {
    color: #6c757d99;
}

#list-brand {
    display: none;
}

/* 상품 표시 */
.origin-price {
    text-decoration: line-through;
    font-size: x-small;
    color: #6c757d99;
}
.disc-price {
    font-size: large;
}