.td-country {
    padding-right: 10px; 
    font-size: 20px;
}

.td-country a {
    color: black;

}

i.fa-paper-plane {
    font-size:18px;
    color: #007bff;
    padding: 2px;
}

/* fas fa-heart는 막힌 하트 */
i.fa-heart {
    font-size: 18px;
    color: #ff70c5;
    padding: 2px;
}