{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>직구변화구, 직변</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script|Courgette" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">

    <script src="{% static 'js/index.js' %}"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
            <a class="navbar-brand brand-name" href="{% url 'home' %}">
                <h2>직변</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome, {{user.get_username}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" role="search" action = 'searchList/'>
                  <input class="form-control mr-sm-2" type="search" name = 'q' placeholder="Search">
                  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3 left-list">
                <table id="select-cat-brand">
                    <tr>
                        <td id="select-cat" onclick="left_list_change(this.id)">Category</td>
                        <td id="select-brand" onclick="left_list_change(this.id)">Brand</td>
                    </tr>
                </table>

                <div class="list-group" id="list-cat">
                    <a href="#" class="list-group-item">Ready to Wear</a>
                    <a href="#" class="list-group-item">Bag</a>
                    <a href="#" class="list-group-item">Shoes</a>
                </div>

                <div class="list-group" id="list-brand">
                    <a href="#" class="list-group-item">Balenciaga</a>
                    <a href="#" class="list-group-item">Balentino</a>
                    <a href="#" class="list-group-item">Alexander Mcqueen</a>
                </div>

                <!-- /.col-lg-3 left-list -->
            </div>

            <div class="col-lg-9">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} my-5">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <p class="m-0 text-center text-white">직구 가격 비교 서비스, <span class="brand-name" style="font-size: 30px">직변</span>
        </p>
        <!-- /.container -->
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>
