
{% extends "base.html" %}
{% block content %}

<div class="card card-signin my-5">
    <div class="card-body">
        <h5 class="card-title text-center">Favorites</h5>


        <!-- row-->
        <div class="row">

            {% for f in favorites %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="media/img/products/{{f.pid.pcode}}.jpg" alt=""></a>
                    <div class="card-body">
                        <p class="card-title">
                            <a href="#">{{f.pid.pname}}</a>
                        </p>
                        <p class="card-text">{{f.pid.brand}}</p>
                        <span class="origin-price">{{f.pid.price}}</span> <span class="disc-price">{{f.pid.price}}</span>

                    </div>
                    <button class="btn btn-outline-dark" class="btn btn-outline-dark"  type="submit">Delete</button>
                    <a href="{{f.pid.url}}" class="btn btn-outline-dark" role="button">Site</a>

                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
</div>

{% endblock content %}