{% extends "base.html" %} {% block content %}

<!-- <div class="card card-signin my-5">
    <div class="card-body"> -->

<h3 class="text-center my-5">Favorites</h3>


<!-- row-->
<div class="row">

    {% for f in favorites %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <p class="card-brand other-brands-name">{{f.id.brand}}</p>
            <a href="{% url 'detail' pcode=f.id.pcode %}">
                <img class="card-img-top" src="/media/img/products/{{f.id.pcode}}.jpg" alt="">
            </a>
            <div class="card-body">
                <p class="card-title">
                    <a href="{% url 'detail' pcode=f.id.pcode %}">{{f.id.pname}}</a>
                </p>

                <p class="card-text">{{f.id.cid.cname}}</p>

                <p class="origin-price mb-0">\{{f.kprice}}</p>
                <p class="disc-price mb-0">\{{f.id.price}}</p>

            </div>
            <table>
                <tr>
                    <td style="text-align: right">
                        <a href="{% url 'delFavorite' del_fid=f.fid %}"><i class='far fa-trash-alt' style='font-size:18px'></i></a>
                    </td>
                    <td style="text-align: left">
                        <a href="{{f.pid.url}}" target="_blank"><i class='far fa-paper-plane'></i></a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    {% endfor %}
</div>
<!-- /.row -->
<!-- </div>
</div> -->

{% endblock content %}