{% extends "base.html" %}
{% block content %}

<!-- Portfolio Item Row -->
<div class="row my-4">
    <div class="col-md-8">
        <img class="img-fluid" src="/media/img/products/{{p.pcode}}.jpg" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">{{p.pname}}</h3>
        <p>{{p.brand}}</p>
        <ul>
            {% for product in products %}
            <li>
                {{ product.cid }} {{ product.price }}
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<h3 class="my-4">Related Projects</h3>

<div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

</div>
<!-- /.row -->
{% endblock %}