{% extends "base.html" %}
{% block content %}

{% if q == None %}
<div class="jumbotron">
  <h1 class="display-3">No Data!</h1>
  <p class="lead">검색 결과를 찾을 수 없습니다. 이용에 불편을 드려서 죄송합니다.</p>
  <hr class="my-4">
  <p>상품의 추가를 원하신다면 저희에게 연락주세요!</p>
  <p class="lead">
  </p>
</div>
{% else %}
<!-- 여기서부터 검색어 존재하고,  성공했을 때 쿼리 -->
{% for dict_pcode,dict_pname in pname_dict.items %}

<div class="col-lg-4 col-md-6 mb-4 my-5">
  <div class="card h-100">
    <a href="{% url 'detail' pcode=dict_pcode %}">
      <img class="card-img-top" src="/media/img/products/{{dict_pcode}}.png" alt="">
    </a>
    <div class="card-body">
      <p class="card-title">
        <a href="{% url 'detail' pcode=q.pcode %}" style="color: black;">{{dict_pname}}</a>
      </p>
      <p class="card-text other-brands-name">{{q.brand}}</p>
      <table class="searchlist-table">

          {{p}}


          {% for q in products %}

          {% if dict_pname == q.pname %}

          <tr>
              <td class="td-country">
                  {{ q.cid.short_cname }}
              </td>
              <td>
                  {{ q.price }} {{ q.cid.currency }} <a href={{product.url}} target="_blank"></a>


              </td>
          </tr>

          {% endif %}

          {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endfor %}
{% endif %}



{% endblock content %}
